.vscode/**
.vscode-test/**
src/**
tests/**
media/node_modules/**
media/src/**
media/webpack.config.js
media/package-lock.json
.next/**
.gitignore
.eslintrc*
eslint.config.*
jest.config.*
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
